body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer { 
  cursor: pointer;
}

.w-100vw { 
  width: 100vw;
}

.h-100vh { 
  height: 100vh;
}

.w-56px { 
  width: 56px;
}

.h-56px { 
  height: 56px;
}

.lh-56px { 
  line-height: 56px;
}

.centering { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.centering-left { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.centering-right { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shift { 
  opacity: 1;
  transform: unset;
  animation-name: content-wrapper;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.shift > * { 
  animation-name: content-wrapper-child;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

@keyframes content-wrapper {
  from {
      overflow-x: hidden;
  }
  to {
      overflow-x: hidden;
  }
}

@keyframes content-wrapper-child {
  from {
      opacity: 0;
      transform: translateX(20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}